<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Enter Prescription</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/enter_prescription.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>Enter Prescription</h2>
            <form method="post" action="{% url 'add_prescription_details' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter name" readonly>
                </div>
                <div class="input-group">
                    <label for="unique-id">Unique ID:</label>
                    <input type="text" id="unique-id" name="unique-id" placeholder="Enter unique ID" readonly>
                </div>
                <div class="input-group">
                    <label for="age">Age:</label>
                    <input type="text" id="age" name="age" placeholder="Enter age" readonly>
                </div>
                <div class="input-group">
                    <label for="sex">Sex:</label>
                    <input type="text" id="sex" name="sex" placeholder="Enter sex" readonly>
                </div>
                <div class="input-group">
                    <label for="examination">Examination:</label>
                    <textarea rows="5" cols="40" id="examination" name="examination" placeholder="Enter Examination"></textarea>
                </div>
                <div class="input-group">
                    <label for="prescription">Medical Prescription:</label>
                    <textarea rows="5" cols="40" id="prescription" name="prescription" placeholder="Enter medical prescription"></textarea>
                </div>
                <div class="input-group">
                    <label for="treatment">Treatment:</label>
                    <textarea rows="5" cols="40" id="treatment" name="treatment" placeholder="Enter treatment"></textarea>
                </div>
                <div class="input-group">
                    <label for="advice">Treatment Advice:</label>
                    <textarea rows="5" cols="40" id="advice" name="advice" placeholder="Enter treatment advice"></textarea>
                </div>
                <div class="input-group">
                    <button type="submit">Save</button>
                </div>
            </form>
            <div class="home-link">
                <a href="/clinic/doctor/">Back to Home</a>
            </div>
        </div>
        <script>
            {% if alertmessage %}
              alert("{{alertmessage}}");
            {% endif %}

            document.getElementById("unique-id").value = "{{uniqueid}}";
            document.getElementById("name").value = "{{name}}";
            document.getElementById("age").value = "{{age}}";
            document.getElementById("sex").value = "{{sex}}";
        </script>
    </body>
</html>