{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OTP Verification</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>OTP Verification</h2>
            <form method="post" action="{% url 'get_email' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="input-group">
                    <button type="submit">Send OTP</button>
                </div>
                {% if message %}
                <div class="error-message">
                    {{ message }}
                </div>
                {% endif %}
            </form>
            <div class="login-link">
                Already have an account? <a href="/clinic/login">Login</a>
            </div>
        </div>
    </body>
</html>