{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Receptionist Home</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="profile-dropdown">
            <img src="{% static 'img/ico/profile.png' %}" alt="Profile" class="profile-icon">
            <div class="dropdown-content">
               <a href="/clinic/personal-details/">View Profile </a>
               <a href="/clinic/login/">Log Out </a>
            </div>
         </div>
         <h2>Receptionist Home</h2>
         <div class="main-options">
            <a href="/clinic/receptionist/appointment-homepage/">
               <div class="option">
                  <img src="{% static 'img/ico/appointment.png' %}" alt="Appointments">
                  <span>Appointments</span>
               </div>
            </a>
            <a href="/clinic/receptionist/transaction-search-patient/">
               <div class="option">
                  <img src="{% static 'img/ico/transactions.png' %}" alt="Fee Transactions">
                  <span>Transactions</span>
               </div>
            </a>
            <a href="/clinic/receptionist/receptionist-search-patient/">
               <div class="option">
                  <img src="{% static 'img/ico/patient.png' %}" alt="Patient Details">
                  <span>Patient Details</span>
               </div>
            </a>
         </div>
      </div>
      {% if alertmessage %}
      <script>
         alert('{{alertmessage}}');
      </script>
      {% endif %}
   </body>
</html>