{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Patient Details</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/patient_view_history.css' %}">
   </head>
   <body>
      <div class="container">
         <h2>Patient Details</h2>
         <form>
            <div class="grid-container">
               <div class="grid-item">
                  <label for="unique-id">Unique ID:</label>
                  <input type="text" id="unique-id" name="unique-id" placeholder=" Unique ID">
               </div>
               <div class="grid-item">
                  <label for="full-name">Full Name:</label>
                  <input type="text" id="full-name" name="full-name" placeholder=" Full Name">
               </div>
               <div class="grid-item">
                  <label for="age">Age:</label>
                  <input type="number" id="age" name="age" placeholder=" Age">
               </div>
               <div class="grid-item">
                  <label for="sex">Sex:</label>
                  <input type="text" id="sex" name="sex" placeholder=" Sex">
               </div>
               <div class="grid-item">
                  <label for="phone-number">Phone Number:</label>
                  <input type="text" id="phone-number" name="phone-number" placeholder=" Phone Number">
               </div>
               <div class="grid-item">
                  <label for="address">Address:</label>
                  <textarea rows="4" cols="40" id="address" name="address" placeholder=" Address"></textarea>
               </div>
               <div class="grid-item">
                  <label for="prescription">Prescription:</label>
                  <textarea rows="4" cols="40" id="prescription" name="prescription" placeholder="Prescription"></textarea>
               </div>
               <div class="grid-item">
                  <label for="dental-carries">Dental Carries:</label>
                  <textarea rows="4" cols="40" id="dental-carries" name="dental-carries" placeholder=" Dental Carries"></textarea>
               </div>
               <div class="grid-item">
                  <label for="missing-teeth">Missing Teeth:</label>
                  <textarea rows="4" cols="40" id="missing-teeth" name="missing-teeth" placeholder=" Missing Teeth"></textarea>
               </div>
               <div class="grid-item">
                  <label for="allergy">Allergy:</label>
                  <textarea rows="4" cols="40" id="allergy" name="allergy" placeholder=" Allergy"></textarea>
               </div>
               <div class="grid-item">
                  <label for="examination">Examination:</label>
                  <textarea rows="4" cols="40" id="examination" name="examination" placeholder=" Examination"></textarea>
               </div>
               <div class="grid-item">
                  <label for="abrasions">Abrasions:</label>
                  <textarea rows="4" cols="40" id="abrasions" name="abrasions" placeholder=" Abrasions"></textarea>
               </div>
               <div class="grid-item">
                  <label for="treatment-advice">Treatment Advice:</label>
                  <textarea rows="4" cols="40" id="treatment-advice" name="treatment-advice" placeholder=" Treatment Advice"></textarea>
               </div>
               <div class="grid-item">
                  <label for="treatment">Treatment:</label>
                  <textarea rows="4" cols="40" id="treatment" name="treatment" placeholder=" Treatment"></textarea>
               </div>
               <div class="grid-item">
                  <label for="treatment-charges">Treatment Charges:</label>
                  <input type="text" id="treatment-charges" name="treatment-charges" placeholder=" Treatment Charges">
               </div>
            </div>
         </form>
         <div class="home-link">
            <a href="/clinic/patient/">Back to Home Page</a>
         </div>
      </div>
   </body>
</html>