{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Patient Appointments</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/patient_appointments.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>Patient Appointments</h2>
            <div class="main-options">
                <a href="/clinic/patient/appointment-history/">
                    <div class="option">
                        <img src="{% static 'img/ico/existing_appointments.png' %}" alt="Existing Appointments">
                        <span>View Existing Appointments</span>
                    </div>
                </a>
                <a href="/clinic/patient/book-appointment/">
                    <div class="option">
                        <img src="{% static 'img/ico/new_appointment.png' %}" alt="New Appointment">
                        <span>Book New Appointment</span>
                    </div>
                </a>
            </div>
            <div class="home-link">
                <a href="/clinic/patient/">Back to Home</a>
            </div>
        </div>
    </body>
</html>