{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Personal Details</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/personal_details.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>Personal Details</h2>
            <form>
                <div class="input-group">
                    <label for="unique-id">Unique ID:</label>
                    <input type="text" id="unique-id" name="unique-id" readonly="true">
                </div>
                <div class="input-group">
                    <label for="full-name">Full Name:</label>
                    <input type="text" id="full-name" name="full-name" readonly="true">
                </div>
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="email" id="username" name="username" readonly="true">
                </div>
                <div class="input-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name="phone" readonly="true">
                </div>
                <div class="input-group">
                    <label for="gender">Gender:</label>
                    <input type="text" id="gender" name="gender" readonly="true">
                </div>
                <div class="input-group">
                    <label for="blood-group">Blood Group:</label>
                    <input type="text" id="blood-group" name="blood-group" readonly="true">
                </div>
                <div class="input-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" readonly="true">
                </div>
                <div class="input-group">
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" readonly="true" required rows="4" cols="30" style="resize: none;"></textarea>
                </div>
                <div class="input-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" readonly="true">
                </div>
                <div class="input-group">
                    <label for="privilege">Privilege:</label>
                    <input type="text" id="privilege" name="privilege" readonly="true">
                </div>
            </form>
            <div class="home-link">
                <a href="/clinic/{{userhome}}/">Back to Home</a>
            </div>
        </div>
        <script>
            document.getElementById("unique-id").value = '{{uniqueid}}';
            document.getElementById("full-name").value = '{{name}}';
            document.getElementById("username").value = '{{username}}';
            document.getElementById("phone").value = '{{phone}}';
            document.getElementById("gender").value = '{{gender}}';
            document.getElementById("blood-group").value = '{{bloodgroup}}';
            document.getElementById("dob").value = '{{dob}}';
            document.getElementById("address").value = '{{address}}';
            document.getElementById("age").value = '{{age}}';
            document.getElementById("privilege").value = '{{priv}}';
        </script>
    </body>
</html>