body {
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
     background-image: url("../img/bg.webp");
     margin: 0;
     padding: 0;
}
 .container {
     background-color: #ffffff;
     padding: 30px;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     max-width: 1200px;
     width: 100%;
     margin: 50px auto;
     overflow: auto;
}
 h2 {
     text-align: center;
     margin-bottom: 20px;
     color: #333;
}
 table {
     width: 100%;
     border-collapse: collapse;
}
 table th, table td {
     padding: 10px;
     border: 1px solid #ddd;
}
 table th {
     background-color: #f0f0f0;
     font-weight: bold;
}
 table tr:nth-child(even) {
     background-color: #f9f9f9;
}
 .home-link {
     font-size: 14px;
     margin-top: 20px;
}
 .home-link a {
     color: #007bff;
     text-decoration: none;
     font-weight: bold;
}
