body {
     font-family: Arial, sans-serif;
     background-image: url('../img/bg.webp');
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
}
 .container {
     background-color: #ffffff;
     padding: 30px;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     max-width: 400px;
     width: 100%;
     text-align: center;
}
 h2 {
     margin-bottom: 20px;
     color: #333;
}
 .time-slots {
     display: grid;
}
 .time-slots input[type="radio"] {
     display: none;
}
 .time-slots label {
     justify-content: center;
     padding: 10px;
     border: 1px solid #ccc;
     margin-bottom: 5px;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
 .time-slots label:hover {
     background-color: #f0f0f0;
}
 .book-appointment-btn {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
 .book-appointment-btn:hover {
     background-color: #0056b3;
}
 